# Environment variables
.env

# Node modules
node_modules/

# Uploads
uploads/*
!uploads/.gitkeep

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store

# IDE
.idea/
.vscode/

# Build files
dist/
build/
